@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}
/* COLORS */
:root {
  --white: #ffffff;
  --black: #000000;

  transition: all 0.5s ease;
}

:root.dark-mode {
  --white: #000000;
  --black: #ffffff;
  transition: all 0.5s ease;
}

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  font-size: 16px;
  background-color: #90EE90;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: rgb(249, 81, 246);
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  color: rgb(70, 3, 133);
  background-color: #dde3ff;
  border-radius: 10px;
}

/* HEADBAR STYLES */
#title_headbar {
  display: flex;
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 3px solid #b2b2b2;
}

#center_text {
  text-align: center;
}
#subheading {
  color: #5f5f5f;
}
#hide_bar,
#dark_mode {
  font-size: 50px;
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#hide_bar:hover,
#dark_mode:hover {
  background-color: #dde3ff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;
}

#container {
  display: flex;
  height: 100vh;
}



#sidebar {
  display: flex;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  flex: 1;
  border-right: 2px solid #b2b2b2;
}
#sidebar.hide {
  display: none;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b2b2b2;
}
.app-header h1 {
  margin: 0;
  padding: 20px;
}
.app-header button {
  font-size: 50px;
  color: #08c;
  padding: 20px;
  height: 100%;
}

.app-notes {
  border-right: 2px solid #b2b2b2;
  overflow-y: scroll;
}
.app-note {
  padding: 25px;
  cursor: pointer;
}
.note-title {
  display: flex;
  justify-content: space-between;
}
.app-note button {
  color: crimson;
}
.app-note p {
  margin: 10px 0;
}
.app-note small {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: #999;
}

.app-note:hover {
  background: #ddd;
}
.app-note.active,
.app-note.active small {
  background: #08c;
  border-radius: 10px;
  color: white;
}


.app-main {
  display: flex;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  flex: 3;
}

.app-main-note-edit {
  flex: 3;
}

.no-active-note {
  display: flex;
  flex-direction: column;
  flex: 3 !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #999;
  background-color: var(--white);
}

/* Editing */
.app-main-note-edit input {
  display: flex;
  flex: 3;
  border: none;
  margin-bottom: 20px;
  height: 100%;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
#mainbar {
  display: flex;
  color: var(--black);
  background-color: var(--white);
  flex-direction: column;
  flex: 3;
  height: 100%;
}
#mainbar-header {
  background-color: var(--white);
  display: flex;
  padding: 12px;
  justify-content: space-between;
}
#mainbar-title {
  display: flex;
  width: 300px; /* Set the width of the h1 element */
  overflow: scroll;
  flex: 3;
  margin: 0;
  height: 100%;
}
#mainbar-title::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

#mainbar-title::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the color of the scrollbar thumb */
}
#mainbar-title-input {
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  margin: auto;
  width: 100%;
}
#mainbar-buttons {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
#mainbar-buttons button {
  font-size: 25px;
  margin-left: 10px;
}
#s_button {
  color: var(--black);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#s_button:hover {
  background-color: rgb(70, 204, 146);
  border-radius: 10px;
}
#edit-link {
  color: var(--black);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  height: auto;
}

#del_button {
  color: var(--black);
  padding-left: 20px;
  padding-right: 20px;
}
#del_button:hover {
  background-color: #eb6767;
  border-radius: 10px;
}
#date {
  margin: 0;
  border: none;
  padding: 10px;
  font-size: 20px;
  background-color: var(--white);
  color: var(--black);
}

#mainbar-content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
  overflow-y: scroll;
  overflow-y: scroll;
}
.ql-toolbar.ql-snow .ql-picker-label {
  color: var(--black);
}
.ql-fill {
  fill: var(--black) !important;
}
.ql-stroke {
  stroke: var(--black) !important;
}
.quill-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #b2b2b2 !important;
}
